*.dat
*.npy
*.pyc
*.png
*.pdf
examples/nnet_twin/sge_cluster
!examples/Lorenz96_D20/l96_D20_dt0p025_N161_sm0p5_sec1_mem1.npy
varanneal_autograd.py

build
dist
varanneal.egg-info

*/.ipynb-checkpoints
.ipynb_checkpoints

!examples/jupyter-tutorial/Lorenz96/data/*
!examples/jupyter-tutorial/NaKL/data/*

examples/Lorenz96_D20/varanneal